body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.header {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #666;
}

.navbar {
  background-color: #f4f4f4;
  color: #333;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  
}
.nav-links a:hover {
  background-color: #b8b8b8;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}


th {
  background-color: #97bfdf;
  color: white;
  padding: 12px 15px;
  text-align: left;
}


td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}


tr:hover {
  background-color: #f2f2f2;
}


tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}


.button {
  padding: 8px 12px;
  margin: 4px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
}

